.mainChat
  .mainChat__header
    .mainChat__header__groupName
      = @group.name
      .mainChat__header__groupName__memberName
        - @users.each do |user|
          = user.name
    .mainChat__header__editButton
      =link_to '#' , class:"editLink" do
        %p.editLink
          Edit
  
  .mainChat__contents
    = render partial: 'shared/message', collection: @messages

  .mainChat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message', placeholder: 'type a message'
      = f.label :image, class: 'fileField' do
        = icon('far', 'image', class: 'fileIcon')
        = f.file_field :image, class: 'fileInput'
      = f.submit 'Send', class: 'sendButton'