.mainChat
  .mainChat__header
    .mainChat__header__groupName
      テストグループ
      .mainChat__header__groupName__memberName
        Member：testTaro testJiro
    .mainChat__header__editButton
      =link_to '#' , class:"editLink" do
        %p.editLink
          Edit
  .mainChat__contents
    .mainChat__contents__userName
      userName
      .mainChat__contents__userName__timeStamp
        2019/11/25 10:55:55
    .mainChat__contents__message
      ２回目の投稿です。
    .mainChat__contents__userName
      userName
      .mainChat__contents__userName__timeStamp
        2019/11/25 09:50:33
    .mainChat__contents__message
      最初の投稿です。
  .mainChat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message', placeholder: 'type a message'
      = f.label :image, class: 'fileField' do
        = icon('far', 'image', class: 'fileIcon')
        = f.file_field :image, class: 'fileInput'
      = f.submit 'Send', class: 'sendButton'